.auth {
    display: flex;
    min-height: 100vh;

    &__intro,
    &__content {
        flex: 1;
    }

    &__intro {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &-text {
            margin-top: 50px;
            text-align: center;
            font-size: 1.8rem;
            max-width: 412px;
            font-weight: 500;
            line-height: 1.44; /* 144.444% */
        }
    }

    &__content {
        background: var(--auth-content-bg);

        &-inner {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 50px 0;
            text-align: center;
            width: min(460px, 100%);
            margin: 0 auto;
        }
    }

    &__heading {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */
    }

    &__desc {
        margin-top: 10px;
        padding: 0 30px;
        color: #9e9da8;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */
    }

    &__form {
        margin-top: 30px;
        width: 100%;
    }

    &__link {
        color: #0071dc;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */
    }

    &__btn-group {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__btn {
        width: 100%;
        gap: 10px;
    }

    &__text {
        margin-top: 108px;
        margin-right: 10px;
        color: #9E9DA8;
        font-size: 1.8rem;
        line-height: 1.44; /* 144.444% */
    }
}
