@use "../abstracts";

html.dark {
    --text-color: #ffffff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7474%) hue-rotate(85deg) brightness(105%)
        contrast(97%);
    --body-bg-color: #292e39;
    --header-bg-color: #171c28;
    --top-act-bg-color: #292e39;
    --top-act-shadow: rgba(0, 0, 0, 0.2);
    --separate-bg-color: #ededf6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Dropdown
    --dropdown-text-color: #b9babe;
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(18%) saturate(671%) hue-rotate(185deg)
        brightness(94%) contrast(89%);
    --top-menu-border-color: #171c28;
    --menu-column__icon-color: brightness(0) saturate(100%) invert(95%) sepia(44%) saturate(6205%) hue-rotate(182deg)
        brightness(117%) contrast(96%);

    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);

    @include abstracts.screen(lg) {
        --text-color: #b9babe;
    }

    // Category item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title-color: #fff;

    // Buttons
    --filter-btn-color: #fff;
    --filter-btn-bg: #171c28;

    // Product card
    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);
}
