@use "../abstracts";

.dropdown {
    color: var(--dropdown-text-color);
    padding-top: 54px;
    position: absolute;
    left: 0;
    width: min(1240px, 100%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s, visibility 0.25s;

    @include abstracts.breakpoint(lg) {
        padding-top: 0;
        position: initial;
        opacity: 1;
        visibility: visible;
    }

    &__inner {
        --inner-padding: 30px;

        position: relative;
        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            transform: translateX(-50%);
            filter: var(--dropdown-arrow-color);
        }

        @include abstracts.breakpoint(lg) {
            padding: 0 40px;
            border-radius: 0;
            background: transparent;
            box-shadow: none;

            &::before {
                content: none;
            }
        }
    }
}

.top-menu {
    --main-column-width: 292px;
    --max-inner-height: calc(min(582px, 100vh - 158px) - 50px);

    position: relative;
    &__main {
        overflow-y: auto;
        width: var(--main-column-width);
        height: var(--max-inner-height);
        border-right: 1px solid var(--top-menu-border-color);

        @include abstracts.breakpoint(lg) {
            width: 100%;
            height: auto;
            border-right: none;
        }
    }
}

.menu-column {
    display: flex;
    column-gap: 14px;

    + .menu-column {
        margin-top: 20px;
    }

    @include abstracts.breakpoint(lg) {
        margin-top: 15px !important;
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;

        @include abstracts.breakpoint(xl) {
            display: none;
        }

        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }

    &__icon-1 {
        object-fit: contain;
        width: 30px;
        height: 30px;
    }

    &__icon-2 {
        position: absolute;
        right: 0;
        bottom: 0;
        object-fit: contain;
        width: 24px;
        height: 24px;
        filter: var(--menu-column__icon-color);
    }

    &__content {
        flex-grow: 1;
    }

    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5; /* 150% */

        @include abstracts.breakpoint(lg) {
            margin-bottom: 26px;
        }
    }

    &__list {
        margin-top: 19px;

        @include abstracts.breakpoint(lg) {
            margin-top: 0;
        }
    }

    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }

    &__item--active > &__link,
    &__item:hover > &__link {
        color: #0071dc;
        font-weight: 500;
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        line-height: 1.42; /* 142.857% */
    }
}

.sub-menu {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--inner-padding);
    position: absolute;
    inset: 0 0 0 var(--main-column-width);
    padding-left: var(--inner-padding);
    overflow-y: auto;

    @include abstracts.breakpoint(lg) {
        position: initial;
        grid-template-columns: 1fr;
        padding-left: inherit;
    }

    &--not-main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        position: initial;
        padding-left: 0;
        height: var(--max-inner-height);
        inset: initial;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;

        @include abstracts.breakpoint(lg) {
            grid-template-columns: 1fr;
            opacity: 1;
            visibility: visible;
            height: auto;
        }
    }
}
