@use "../abstracts";

$error-color: #ed4337;

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }
    &__group {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: $error-color;
            background: rgba($color: $error-color, $alpha: 0.1);
        }

        .form__error,
        .form__input-icon--error {
            display: block;
        }

        .form__input-icon--filter {
            display: none;
        }
    }

    &__text-input {
        padding: 0 12px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        height: 50px;
        border: 1.5px solid #d2d1d6;

        @include abstracts.screen(md) {
            height: 48px;
        }

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__input {
        flex: 1;
        height: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }

        &-icon {
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-left: 12px;

            &--error {
                display: none;
                animation: shake 0.5s;
            }
        }

        &::placeholder {
            color: var(--form-placeholder-color);
        }

        &:not(:placeholder-shown) ~ &-icon--filter {
            filter: var(--form__input-icon-filter);
        }
    }

    &__error {
        display: none;
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 10px;
        color: $error-color;
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        margin-left: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;

        &-label {
            position: relative;
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46; /* 146.667% */

            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }

            &::before,
            &::after {
                position: absolute;
                display: inline-block;
                content: "";
            }

            &::before {
                width: 18px;
                height: 18px;
                top: 50%;
                translate: 0 -50%;
                left: -30px;
                border: 2px solid #9e9da8;
                border-radius: 4px;
            }

            &::after {
                display: none;
                width: 12px;
                height: 10px;
                top: 50%;
                translate: 0 -78%;
                left: -27.5px;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                rotate: 135deg;
            }
            // form__checkbox-label-end
        }

        &:has(> &-input:checked) &-label::before {
            background-color: rgb(0, 153, 255);
            border-color: rgb(0, 153, 255);
        }

        &:has(> &-input:checked) &-label::after {
            display: inline-block;
        }
    }

    &__label {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.45; /* 145.455% */

        &--small {
            margin-bottom: 10px;
            font-size: 1.4rem;
            line-height: 1.42; /* 142.857% */
        }
    }

    &__select-wrap {
        display: flex;
        align-items: center;
        height: 45px;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
    }

    &__select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 14px;
        min-width: var(--width, 108px);
        height: calc(100% - 10px);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.42; /* 142.857% */
        cursor: pointer;

        @include abstracts.screen(xl) {
            flex: 1;
        }
    }

    &__select + &__select {
        border-left: 1px solid #d2d1d6;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;

        @include abstracts.screen(sm) {
            column-gap: 9px;
        }
    }

    &__tag {
        padding: 6px 12px;
        border-radius: 6px;
        color: #9e9da8;
        background: var(--form-tag-bg);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.42; /* 142.857% */
        transition: color 0.2s;

        &:hover {
            color: var(--text-color);
        }
    }
}
