@use "../abstracts";

$error-color: #ed4337;

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__row {
        display: flex;
        gap: 30px;

        @include abstracts.screen(md) {
            gap: 20px;
        }

        @include abstracts.screen(sm) {
            flex-direction: column;
            gap: 0;
        }

        > * {
            flex: 1;
        }
    }

    &__group {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: $error-color;
            background: rgba($color: $error-color, $alpha: 0.1);
        }

        .form__error,
        .form__input-icon--error {
            display: block;
        }

        .form__input-icon--filter {
            display: none;
        }
    }

    &__text-area,
    &__text-input {
        display: flex;
        align-items: center;
        padding: 0 12px;
        border-radius: 10px;
        border: 1.5px solid #d2d1d6;

        &--small {
            border-radius: 8px;
        }

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__text-input {
        position: relative;
        height: 50px;

        &--small {
            height: 42px;
        }

        @include abstracts.screen(md) {
            height: 48px;
        }
    }

    &__text-area {
        padding: 12px;
        height: 100px;

        &-input {
            resize: none;
        }
    }

    &__input,
    &__text-area-input {
        flex: 1;
        height: 100%;
        font-size: 1.8rem;
        width: 100%;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */

        &::placeholder {
            color: var(--form-placeholder-color);
        }

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__input {
        &-icon {
            width: 24px;
            height: 24px;
            object-fit: contain;
            margin-left: 12px;

            &--error {
                display: none;
                animation: shake 0.5s;
            }
        }

        &:not(:placeholder-shown) ~ &-icon--filter {
            filter: var(--form__input-icon-filter);
        }
    }

    &__select-dialog {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 44px;
        left: 10px;
        z-index: 1;
        max-height: 310px;
        min-width: 230px;
        background: var(--form-select-dialog-bg);
        padding-bottom: 10px;
        border: 1px solid #d2d1d6;
        border-radius: 10px;
        box-shadow: 0 0 5px var(--form-select-dialog-shadow);
        opacity: 0;
        visibility: hidden;
        translate: 0 -8px;
        transition: 0.2s;

        @include abstracts.screen(sm) {
            position: fixed;
            max-width: initial;
            max-height: initial;
            inset: 0;
            border-radius: 0;
        }

        &.show {
            opacity: 1;
            visibility: visible;
            translate: 0;
        }
    }

    &__dialog-heading {
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        padding: 14px;
    }

    &__close-dialog {
        font-size: 3rem;
        position: absolute;
        right: 0;
        top: 0;
        padding: 2px 18px;
        opacity: 0.8;
    }

    &__search {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: 1px solid #d2d1d6;
        padding: 0 20px;
        height: 38px;

        @include abstracts.screen(sm) {
            margin: 10px;
            border: 1px solid #d2d1d6;
            border-radius: 10px;
        }

        &-input {
            flex: 1;
            height: 100%;
            font-size: 1.6rem;
        }

        &-icon {
            margin-left: 10px;
            width: 16px;
        }

        @include abstracts.screen(lg) {
            height: 42px;
        }
    }

    &__options-list {
        margin-top: 10px;
        flex: 1;
        overflow-y: auto;
        overscroll-behavior: contain;
    }

    &__option {
        padding: 8px 20px;
        font-size: 1.4rem;

        &--current {
            font-weight: 500;
            background: rgba($color: #ffb700, $alpha: 0.6);
        }

        &:not(&--current):hover {
            background: var(--form-option-hover-bg);
            cursor: pointer;
        }

        @include abstracts.screen(lg) {
            padding: 14px 20px;
        }
    }

    &__error {
        display: none;
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 10px;
        color: $error-color;
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        margin-left: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;

        &-label {
            position: relative;
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46; /* 146.667% */

            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }

            &::before,
            &::after {
                position: absolute;
                display: inline-block;
                content: "";
            }

            &::before {
                width: 18px;
                height: 18px;
                top: 50%;
                translate: 0 -50%;
                left: -30px;
                border: 2px solid #9e9da8;
                border-radius: 4px;
            }

            &::after {
                display: none;
                width: 12px;
                height: 10px;
                top: 50%;
                translate: 0 -78%;
                left: -27px;
                border-top: 3px solid #fff;
                border-right: 3px solid #fff;
                rotate: 135deg;
            }
            // form__checkbox-label-end
        }

        &:has(> &-input:checked) &-label::before {
            background-color: rgb(0, 153, 255);
            border-color: rgb(0, 153, 255);
        }

        &:has(> &-input:checked) &-label::after {
            display: inline-block;
        }
    }

    &__label {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.45; /* 145.455% */

        &--small {
            margin-bottom: 10px;
            font-size: 1.4rem;
            line-height: 1.42; /* 142.857% */
        }
    }

    &__select-wrap {
        display: flex;
        align-items: center;
        height: 45px;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
    }

    &__select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 14px;
        min-width: var(--width, 108px);
        height: calc(100% - 10px);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.42; /* 142.857% */
        cursor: pointer;

        @include abstracts.screen(xl) {
            flex: 1;
        }
    }

    &__select + &__select {
        border-left: 1px solid #d2d1d6;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;

        @include abstracts.screen(sm) {
            column-gap: 9px;
        }
    }

    &__tag {
        padding: 6px 12px;
        border-radius: 6px;
        color: #9e9da8;
        background: var(--form-tag-bg);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.42; /* 142.857% */
        transition: color 0.2s;

        &:hover {
            color: var(--text-color);
        }
    }
}
